
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="~/Products/Add" method="post">
    Name:<input type="text" name="name" class="form-control">
    Price:<input type="text" name="price" class="form-control">
    Quantity:<input type="text" name="quantity" class="form-control">
    Description:<input type="text" name="description" class="form-control">
    <input type="submit" value="ADD" class="btn btn-primary">
</form>

