
@{
    ViewBag.Title = "Biio";
}

<h2>Career Objective:</h2> Seeking the role of a Software Engineer where I can contribute towards the organizational goals through my analytical skills and knowledge acquired by pursuing a degree in Software Engineering.

