
@{
    ViewBag.Title = "Education";
}

<h2 align="center"><u> Education </u></h2>


<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">EXAM TITLE</th>
            <th scope="col">MAJOR</th>
            <th scope="col">INSTITUTE</th>
            <th scope="col">RESULT</th>
            <th scope="col">PASSING YEAR</th>
            <th scope="col">DURATION (Y)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">BSc in CSE</th>
            <td>Software Engg.</td>
            <td>American International University-Bangladesh</td>
            <td>3.66 Out of 4.00</td>
            <td>2022</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">HSC</th>
            <td>Science</td>
            <td>
                Jahangir Nagar
                University School and College
            </td>
            <td>4.50 out of 5.00</td>
            <td>2016</td>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">SSC</th>
            <td>Science</td>
            <td>
                Jahangir Nagar
                University School and College
            </td>
            <td>5.00 out of 5.00</td>
            <td>2014</td>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">JSC</th>
            <td>Science</td>
            <td>
                Jahangir Nagar
                University School and College
            </td>
            <td>4.57 out of 5</td>
            <td>2013</td>
            <td>8</td>
        </tr>
    </tbody>
</table>

