
@{
    ViewBag.Title = "Personal Information";
}

<h2 align="center">Personal Information</h2>
<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Father's Name</th>
            <td>:&nbsp;&nbsp;Md. Jamat Ali </td>
        </tr>
        <tr>
            <th scope="row">Mother's Name </th>
            <td>:&nbsp;&nbsp;Rahana Ali</td>
        </tr>
        <tr>
            <th scope="row">Date of Birth </th>
            <td>:&nbsp;&nbsp;23 September, 1998</td>
        </tr>
        <tr>
            <th scope="row">Gender</th>
            <td>:&nbsp;&nbsp;Male</td>
        </tr>
        <tr>
            <th scope="row">Height</th>
            <td>:&nbsp;&nbsp;5’.6”</td>
        </tr>
        <tr>
            <th scope="row">Blood Group</th>
            <td>:&nbsp;&nbsp;B(+ve)</td>
        </tr>
        <tr>
            <th scope="row">Marital Status</th>
            <td>:&nbsp;&nbsp;Single</td>
        </tr>
        <tr>
            <th scope="row">Nationality</th>
            <td>:&nbsp;&nbsp;Bangladeshi </td>
        </tr>
        <tr>
            <th scope="row">Religion</th>
            <td>:&nbsp;&nbsp;Islam</td>
        </tr>
        <tr>
            <th scope="row">Permanent Address</th>
            <td>:&nbsp;&nbsp;Vill: Polashbari, P/O: Savar Cantonment, P/S: Ashulia, Dist: Dhaka</td>
        </tr>
</table>